[Unit]
Description={{ chain_id }} Signer node {{ my_share }}
After=network.target

[Service]
Type=simple
User={{ horcrux_user }}
WorkingDirectory={{ horcrux_home }}
ExecStart={{ horcrux_home }}/go/bin/horcrux {% if shares > 1 %}co{% endif %}signer start --home {{ horcrux_dir }}
ExecStartPre=rm -f /var/lib/sif-hc/.horcrux/horcrux.pid
ExecStartPost=rm -f /var/lib/sif-hc/.horcrux/horcrux.pid
Restart=on-failure
RestartSec=3
LimitNOFILE=infinity

[Install]
WantedBy=multi-user.target
