---
- name: Create horcrux directory
  file:
    owner: '{{ horcrux_user }}'
    group: '{{ horcrux_user }}'
    state: directory
    path: '{{ horcrux_dir }}/state'
    mode: '0750'

- name: Create state files
  template:
    src: priv_validator_state.json
    dest: "{{ horcrux_dir }}/state/{{ chain_id }}_{{ item }}"
    mode: '0600'
    owner: "{{ horcrux_user }}"
    group: "{{ horcrux_user }}"
    force: no
  with_items:
    - priv_validator_state.json
    - share_sign_state.json

- name: Copy config
  template:
    backup: yes
    src: config.yml
    dest: "{{ horcrux_dir }}/config.yml"
    owner: "{{ horcrux_user }}"
    group: "{{ horcrux_user }}"
    mode: '0644'
  tags: configs

- name: Copy horcrux service file
  become: true
  template:
    src: 'horcrux.service.j2'
    dest: '/etc/systemd/system/{{ service_file }}'
    owner: root
    group: root
    mode: 600
  register: systemdunit

- name: Enable systemd unit
  systemd:
    daemon_reload: yes
    name: "{{ service_file }}"
    enabled: yes
  when: systemdunit.changed
