---
- name: Create horcrux user
  import_tasks: create_user.yml

- name: Install horcrux
  import_tasks: install_horcrux.yml

- name: Configure horcrux
  import_tasks: configure_horcrux.yml

- name: Create and move keys
  import_tasks: create_shares.yml
